@import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

    --bg-color: #eee;
    --create-btn: #596D48;
    --input-border-color: #E5E7EB;
    --invalid-color: rgb(218, 3, 3);
    font-family:  "Ubuntu", serif;
}

body{
    display: flex;
}

/* Style photo Part*/
.photo{
    position: relative;
}

#bg-img{
    height: 100vh;
    width: clamp(350px, 50vw, 450px);
    z-index: -1;
}



.header{
    position: absolute;
    top: 15%;
    width: clamp(350px, 50vw, 450px);
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: clamp(5rem, 80%, 7rem);
    padding: .2em;
    gap: 16px;
    background-color: rgba(14, 13, 13,.7);
}

a, .logo-text, .photo-author, button{
    color: var(--input-border-color);
}

.photo-author{
    position: absolute;
    bottom: 2%;
    font-size: 0.8em;
    left: clamp(10%, 50%, 20%);
}


/*Second part*/

.form{
    background-color: var(--bg-color);
}
.form-header{
    height: 10vh;
    width: clamp(8ch, 100%, 52ch);
    margin: 2.5em;
}

.main{
    background-color: #fff;
    box-shadow: 0px 3px 5px 0px rgba(0, 0, 0, 0.2);
    padding-top: 1.5em;
    padding-bottom: 2.5em;
}

.last-part{
    margin: 1.8em 2.5em;
}

.last-part a{
    color: var(--create-btn);
    text-decoration: none;
}


h2{
    margin-left: 1.667em;
    margin-bottom: 0.8em;
}

button{
    padding: 0.8em 1.8em;
    border-radius: 0.5em;
    background-color: var(--create-btn);
    font-size: 1em;
    border: none;
    cursor: pointer;
    margin-bottom: 0.5em;
}

.data{
    display: flex;
    flex-wrap: wrap;
    margin: 0 2.5em;
    gap: 2em;
}

.info{
    flex: 1 1 calc(50% - 2em);
    display: flex;
    flex-direction: column;
}

input{
    border: 1px solid var(--input-border-color);
    padding: 0.6em;
    border-radius: 5px;
    margin-top: 8px;
}

.paraH{
    font-weight: 500;
    margin-bottom: 12px;
}

input:focus{
    border: 1px solid blue;
    box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.5);
    outline: none;
}

input:invalid{
    border: 1px solid red;
    outline: none;
}